# Django
SECRET_KEY          #SECRET_KEY for django project
DEBUG               #DEBUG mode on/off (True/False)

# Database
BASE_NAME           #NAME of postgres database
BASE_USER           #USERNAME for postgres database
BASE_PASSWORD       #PASSWORD for postgres database
BASE_HOST           #HOST for postgres database
BASE_PORT           #PORT for postgres database